<meta charset="UTF-8">
<title>EJS Is Fun</title>

<link rel="stylesheet" href="/presetsconfigs.css" type="text/css">
<link rel="icon" href="/favicon.jpg" sizes="16x16" type="image/png">
<style>
    body {
        padding-top: 50px;
    }
</style>