<sction id="ConfigSelect" class="popup">
    <span class="popuptext" id="myPopup"></span>
    <select name="configs" id="configs" onchange="SetConfig()">
    </select>
    <img id="SaveIcon" src="save-as.png" alt="save config" onclick="UpdateConfigData() ">
    <img id="delete" src="420-512.png" alt="delete config" onclick="DeleteConfigData() ">
    <img id="newconfig" src="File_Add-512.png" alt="create new config" onclick="SetConfigName() ">
</sction>