<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container">

    <header>

    </header>

    <main>



        <h1>Please Login!</h1>
        <a type="button" location.href="/login">LOGIN</a>

    </main>

    <footer>

    </footer>

</body>

</html>
